{% extends 'main.html' %}
{% load i18n %}

{% block content %}
<style>
    a>.nav_button.projects{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="preview_holder">
    {% for post in posts %}
    <div class="preview light">
        <img class="thumbnail" src="{{post.thumbnail.url}}">
        <div class="post_preview">
            <h5 class="preview_title">{{post.title}}</h5>
            <p class="preview_subtitle">{{post.sub_title}}</p>
        </div>
    </div>
    
    {% empty %}
    <h3 class="text">{% trans "No posts found" %}</h3>
    
    {% endfor %}
</div>

{% endblock content %}