{% extends 'main.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/biangelis/css/style.css">
</head>
<style>
    .intro_title{
        font-family: "Orbitron", sans-serif;
        font-size: 8rem;
    }
    .pt_title{
        font-size: 6.5rem;
    }
    a>.nav_button.home{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro light content_block">
    <h1 class="intro_title">TESTANDO</h1>
</div>
{% endblock content %}