{% extends 'basis/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    a>.nav_button.create{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro dark">
    <h3 class="title">New Post</h3>
</div>
<div class="post" style="top: 10rem;">
    <div class="wallpaper">
        {% for i in repeat %}
            {% include 'small_icons.html' %}
        {% endfor %}
    </div>
    <div class="form_container light">
        <form class="text" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input class="text sub_button" type="submit" value="Submit Post">        
        </form>
    </div>
</div>
{% endblock content %}