html {
    background-color: #1e2233;
    color: #f8fcff;
}

body{
    margin: 0;
}

a, a:visited, .navbar>a:hover{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:hover .nav_button{
    background-color: #232738;
}

form{
    display: flexbox;
}

button{
    width: 4vw;
    height: 4vw;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.light{
    background-color: #23263a;
}

.dark{
    background-color: #1e2233;
}

.highlights {
    color: #ffce8a;
}

.intro_title{
    font-family: "Orbitron", sans-serif;
    font-size: 7.5vw;
}

.title{
    font-family: "Orbitron", sans-serif;
    font-size: 6vw;
    font-weight: 400;
}

.subtitle{
    font-family: "Orbitron", sans-serif;
    font-size: 3.5vw;
    font-weight: 400;
}

.text{
    color: #f8fcff;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: justify;
}

.small.text{
    font-weight: 500;
    font-size: 1vw;
    text-align: center;
}

.preview_title{
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 3vw;
    margin: 0;
}

.preview_subtitle{
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 1.3vw;
}

.preview_links {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
}

.lang{
    width: 3.5vw;
    height: 3.5vw;
}

.set_lang{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: -90%;
    z-index: 2;
}

.navbar{
    width: 100%;
    height: 5rem;
    z-index: 1;
    background-color: #1d2132;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: none;
}

.navbar .holder {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.nav_button{
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_holder{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content_block{
    top: 9rem;
    width: 100%;
    height: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form_container{
    position: relative;
    height: 52vw;
    width: 60vw;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container.crud{
    top: -3rem;
    height: 70vw;
    width: 65%;
    .sub_button{
        width: 13vw;
    }
}

.wallpaper.crud{
    top: -8rem;
    height: 90vw;
    .small_icon{
        margin-top: 2vw;
        margin-left: 2vw;
        height: 2.5vw;
        width: 2.5vw;
    }
}

input{
    margin-bottom: 1.3vw;
    background-color: #1e2233;
    border: 0;
    border-radius: 0.5rem;
}

[type="text"]{
    height: 2vw;
    width: 45vw;
}

textarea.form-control{
    height: 20vw;
    resize: none;
}

.form-control{
    height: 2.5vw;
    width: 55vw;
    margin-bottom: 1vw;
    color: #f8fcff;
    font-size: 1vw;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    background-color: #1e2233;
    border-radius: 0.5rem;
    border: 0;
}

#id_active{
    height: 1.3rem;
    width: 1.3rem;
    color: #ffce8a;
}

.sub_button{
    margin-bottom: 0;
    height: 2.5vw;
    width: 10vw;
    float: right;
}
.text.sub_button{
    font-size: 1.5vw;
}

.preview_holder{
    top: 10vw;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.preview{
    margin-bottom: 3vw;
    width: 48vw;
    height: 40%;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post_preview{
    width: 50%;
}

.thumbnail{
    margin: 2vw;
    width: 25vw;
    height: 16vw;
    border-radius: 1vw;
    object-fit: cover;
}

.intro.dark{
    top: 5rem;
    position: relative;
    margin-left: 0.5vw;
    padding: 2vw;
    .title{
        margin: 0;
    }
    .subtitle{
        margin: 0;
    }
}

.wallpaper.post{
    top: -8rem;
    .small_icon{
        margin-top: 2vw;
        margin-left: 2vw;
        height: 2.5vw;
        width: 2.5vw;
    }
}

.post{
    top: 12rem;
    width: 100%;
    position: relative;
    align-items: center;
    justify-items: center;
}

.post_holder{
    top: -3rem;
    width: 85%;
    border-radius: 3rem;
    position: relative;
    align-items: center;
    justify-items: center;
}

.post_content{
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 90%;
    position: relative;
}

.img_container{
    top: 9rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.post_img{
    margin-right: 3.5vw;
    margin-bottom: 2vw;
    height: 28vw;
    width: 40vw;
    border-radius: 3vw;
    object-fit: cover;
    float: left;
}

.last_link{
        float: right;
    }

.profile_pic{
    width: 36vw;
    height: 36vw;
    border-radius: 50%;
    object-fit: cover;
}

.small_icon{
    margin-left: 1.5rem;
    width: 3.5vw;
    height: 3.5vw;
    display: flex;
}

.wallpaper .small_icon{
    margin-top: 2.6vw;
    margin-left: 1vw;
    width: 4%;
    height: 4%;
}

.wallpaper{
    z-index: -1;
    top: -7rem;
    height: 120%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.circle{
    width: 36vw;
    height: 36vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.vertical{
    background-color: #ffce8a;
    border-width: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 0.1rem;
    height: 1.2rem;
}

.sub_button{
    margin-top: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    color: #1e2233;
    background-color: #ffce8a;
    align-items: center;
}
.sub_button:hover{
    background-color: #ffbe63;
}

@media screen and (max-width: 600px) {
    .intro_title{
        font-size: 8vw;
    }
    .text{
        font-size: 3.25vw;
        text-align: center;
    }
    .subtitle{
        font-size: 5vw;
    }
    .circle{
        width: 40vw;
        height: 40vw;
    }
    .profile_pic{
        width: 40vw;
        height: 40vw;
    }
    .small_icon{
        margin-left: 0.3rem;
        margin-top: 0.3rem;
        width: 4.3vw;
        height: 4.3vw;
    }
    .small_icon.social{
        width: 6.5vw;
        height: 6.5vw;
    }
    .wallpaper .small_icon{
        margin-top: 1vw;
        margin-left: 2vw;
        width: 3vw;
        height: 3vw;
    }
    .wallpaper{
        top: -40vw;
        height: 160vw;
    }
    .menu_icon{
        width: 5vw;
        height: 5vw;
    }
    .content_block{
        height: 65vw;
        top: 20vw;
    }
    .form_container{
        height: 100vw;
        width: 80%;
        border-radius: 5%;
        position: absolute;
        top: -20vw;
        input{
            margin-bottom: 3vw;
        }
        textarea{
            height: 30vw;
        }
        .text{
            text-align: left;            
        }
    }
    .form-control{
        height: 5vw;
        width: 70vw;
    }
    .sub_button{
        height: 5vw;
        width: 15vw;
    }
    .text.sub_button{
        text-align: center;
        font-size: 2.5vw;
    }
    .navbar{
        height: 15vw;
        a:not(.menu){
            display: none;
        }
    }
    .menu {
        float: left;
        display: block;
        position: absolute;
        left: 5vw;
        top: 5vw;
    }
    .navbar.responsive{
        height: 60vw;
        position: relative;
    }
    .navbar.responsive .menu{
        position: absolute;
        left: 5vw;
        top: 5vw;
    }
    .navbar.responsive a{
        float: none;
        display: block;
        text-align: left;
        .text{
            font-size: 4.5vw;
            margin-left: 3vw;
        }
    }
    .navbar.responsive .holder{
        top: 19vw;
        width: 80vw;
        display: block;
        .nav_button{
            height: 13vw;
            width: 60vw;
            justify-content: left;
        }
    }
    button{
        width: 8vw;
        height: 8vw;
    }
    .lang{
        width: 8vw;
        height: 8vw;
    }
    .set_lang{
        position: absolute;
        top: 4vw;
        width: 20%;
        margin-right: -70%;
    }
    .preview_holder{
        top: 20vw;
        .preview{
            height: 35vw;
            width: 90%;
        }
        .thumbnail{
            height: 25vw;
            width: 38vw;
        }
        .preview_title{
            font-size: 4.3vw;
        }
        .preview_subtitle{
            font-size: 3.2vw;
        }
        .preview_links{
            font-size: 2.5vw;
        }
    }
    .intro.dark{
        top: 20vw;
        position: relative;
        a {
            font-size: 3vw;
        }
        .title{
            font-size: 12vw;
        }
        .subtitle{
            font-size: 7vw;
        }
    }
    .wallpaper.post{
        top: -28vw;
        height: 200vw;
        .small_icon{
            margin-top: 5vw;
            margin-left: 2.3vw;
            width: 3.3vw;
            height: 3.3vw;
        }
    }
    .post_holder{
        top: -18vw;
        width: 88%;
        border-radius: 5vw;
        padding-bottom: 5vw;
        .post_img{
            float: none;
            width: 100%;
            height: 45vw;
            border-radius: 5vw;
        }
        a {
            font-size: 3vw;
        }
        p{
            text-align: justify;
            font-size: 3.6vw;
        }
        .last_link{
            font-size: 3.5vw;
        }
    }
}