{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
    .intro_title{
        font-family: "Orbitron", sans-serif;
        font-size: 8rem;
    }
    .pt_title{
        font-size: 6.5rem;
    }
    a>.nav_button.home{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro light content_block">
    <div class="content_holder">
        {% get_current_language as current_language %}
        <p class="intro_title">{% trans "Hello, I am" %} 
            <span class="highlights">Bianca Angelis</span>!</p>
    </div>
    <div class="content_holder">
        <img class="profile_pic" src="{% static 'images/profpic.jpg' %}">
    </div>
</div>
<div class="dark content_block">
    <div class="content_holder">
        <div class="circle">
            {% for i in repeat %}
                {% include 'icons.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="content_holder">
        <p class="text">
            {% trans "I'm a " %}<span class="highlights">{% trans "Software Developer" %}</span>! <br/>
            {% trans "I have a especial interest for " %} <span class="highlights">Python</span>, <span class="highlights">
                {% trans "Automation" %}</span> {% trans "and" %} <span class="highlights">Game Design</span>,
            {% trans "but I enjoy challenging myself with a wide variety of projects." %}
        </p>
    </div>
</div>

{% endblock content %}