{% extends 'index.html' %}
{% load static %}

{% block content %}
<style>
    .intro_title{
        font-family: "Orbitron", sans-serif;
        font-size: 8rem;
    }
    .pt_title{
        font-size: 6.5rem;
    }
</style>

<div class="intro light content_block">
    <div class="content_holder">
        <p class="intro_title text">Hello, I am
            <span class="highlights">Bianca Angelis</span>!</p>
    </div>
    <div class="content_holder">
        <img class="profile_pic" src="{% static 'images/profpic.jpg' %}">
    </div>
</div>
<div class="dark content_block">
    <div class="content_holder">
        <div class="circle">
            {% for i in repeat %}
                {% include 'icons.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="content_holder">
        <p class="text">
            I'm a <span class="highlights">Software Developer</span>! <br/>
            I'm mainly in love with <span class="highlights">Python</span>, <span class="highlights">
                Automation</span> and <span class="highlights">Game Design</span>,
            but I enjoy challenging myself with a variety of projects.
        </p>
    </div>
</div>

{% endblock content %}